.error-text {
  color: #e63946;
  font-size: 0.9rem;
  margin-top: 4px;
  display: block;
  font-weight: 500;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.cardHeader h3 {
  margin-top: 0px;
}

.headerButtons, .buttonRow {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.headerButtons button {
  background-color: #2563eb;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.headerButtons button:hover {
  background-color: #1e40af;
}

.headerButtons .redButton {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.headerButtons .redButton:hover, .buttonRow .redButton:hover {
  background-color: #a82935;
}

.buttonRow .redButton {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buttonRow .greenButton {
  background-color: #51bb0a;
  color: white;
  padding: 8px 16px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buttonRow .greenButton:hover {
  background-color: #3d8d08;
}

.bottomPad {
  padding-bottom: 8px;
}

.icon {
  width: 35px;
}

.iconRow {
  display: flex;
  justify-content: center;
  align-items: center;
}